@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

.sidebar{
    position: fixed;
    width: 300px;
    height: 100%;
    background: linear-gradient(45deg, #114A9c, whitesmoke);
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.sidebar ul li{
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover{
    /* background: rgb(196, 11, 11); */
    background: skyblue;
}

.sidebar ul li:first-child:hover{
    background: none;
}


.sidebar ul li a{
    width: 100%;
    text-decoration: none;
    color: black;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

.sidebar .title{
    padding: 0 10px;
    font-size: 20px;
}

.sidebar h1{
    background: url(images/edosa-logo2.png) no-repeat center center/cover;
	position: relative;
	width: 100%;
	height: 140px;
	background-size: contain;
    transition: 0.3s;
    align-items: center;
    border-bottom: 2px solid #114A9c;
}


.main {
    position: absolute;
    width: calc(100% - 300px);
    min-height: 100vh;
    left: 300px;
    background: #fff;
}

.top-bar{
    position: fixed;
    height: 60px;
    width: calc(100% - 300px);
    background: #296FD7;
    display: grid;
    grid-template-columns: 10fr 0.4fr 1fr;
    grid-gap: 5px;
    align-items: center;
    color: black;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.top-bar .search{
    position: relative;
    max-width: 500px;
}

.search input{
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border-radius: 40px;
    background: #f5f5f5;
    
}

.search i {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    border-radius: 40px;
}

.user{
    position: relative;
    width: 50px;
    height: 50px;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.cards{
    margin-top: 60px;
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card{
    background: linear-gradient(-50deg, whitesmoke, #114A9c);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.number{
    font-size: 35px;
    font-weight: 500;
    color: whitesmoke;
}

.card-name{
    
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
}

.tables{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    align-items: self-start;
    padding: 0 20px 20px 20px;
}

.img-box-small{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recent-appointments{
    min-height: 350px;
    background: whitesmoke;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.available-doctor{
    min-height: 350px;
    background: whitesmoke;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #444;
}

.btn{
    padding: 5px 10px;
    background: #114A9c;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    border-radius: 50px;
}
.btn:active{
    padding: 5px 10px;
    background: whitesmoke;
    text-decoration: none;
    text-align: center;
    color: #114A9c;
    border: 2px solid #114A9c;
    border-radius: 50px;
}

table{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

thead td{
    font-weight: 600;
    color: #333;
}

table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tbody tr:hover{
    background: skyblue;
}

image.png
table tbody tr:last-child{
    border-bottom: none;
}

td{
    padding: 9px 5px; 
}

td i{
    padding: 7px;
    color: #fff;
    border-radius: 50px;
}

.recent-appointments table tbody td:last-child{
    white-space: nowrap;
}

.fa-eye{
    background: #32bea6;
}

.fa-edit{
    background: #63b463;
}

.fa-trash-alt{
    background: #ed5564;
}



/* Responsive */

@media(max-width:1090px){
    .sidebar{
        width: 60px;
    }
    .main{
        width: calc(100% - 60px);
        left: 60px 
    }
    .top-bar{
        width: calc(100% - 60px);
    }
    .sidebar h1{
        background: url(images/edosa-logo3.png) no-repeat center center/cover;
        position: relative;
        width: 100%;
        height: 100px;
        background-size: contain;
        transition: 0.3s;
        align-items: center;
        border-bottom: 2px solid #114A9c;
    }
}
@media(max-width:860px){
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
    .tables{
        grid-template-columns: 1fr;
    }
}
@media(max-width:530px){
    .cards{
        grid-template-columns: 1fr;
    }
    .recent-appointments td:nth-child(3){
        display: none;
    }
}
@media(max-width:420px){
    .recent-appointments, .available-doctor{
        font-size: 70%;
        padding: 10px;
        min-height: 200px;
    }
    .cards, .tables{
        padding: 10px;
    }
    .search input{
        padding: 0 10px;
    }
    .user{
        width: 40px;
        height: 40px;
    }
}