*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.zone{
	height: 100vh;
	width: 100%;
	background-image: url(doctorimg3.jpg);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;
	padding-left: 10%;
	padding-right: 10%;
	position: fixed;
	top: 0;
	width: 100%;

}
.logo {
	/* color: #114A9C;
	font-size: 40px; */
	background: url(edosa-logo.png) no-repeat center center/cover;
	position: relative;
	width: 180px;
	height: 100px;
	background-color: #114A9C;
	background-size: contain;
	border-radius: 20px;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}
nav ul li a {
	color: #114A9C;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

nav ul li a:hover{
	color: red;
	transition: .3s;
}
button{
	border: none;
	color: white;
	background: #114A9C;
	padding: 12px 30px;
	border-radius: 40px;
	font-weight: bold;
	font-size: 15px;
	transition: .4s;
}
button:hover{
	transform: scale(1.3);
	cursor: pointer;
}